#geo {
	text-align: center;
	margin-top: 50px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	letter-spacing: 0.07em;
	color: #FFFFFF;
}

#p1{
	font-size: 20px;
}

#p2{
	font-size: 26px;
}

 #button {
  	width: 120px;
	height: 40px;
	margin-bottom: 50px;
	background: #FFFFFF;
	border-radius: 10px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: normal;
	letter-spacing: 0.07em;
  }