 #forecastContainer {
    text-align: center;
    margin-top: 30px;
    font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.7);
	line-height: normal;
	letter-spacing: 0.07em;
  }

 #forecast {
    margin: 30px;
    background: #FFFFFF;
    border-radius: 10px;
    width: 200px;
	height: 230px;
    display:  inline-block;
  }

  #loading {
    text-align: center;
    margin-top: 30px;
    font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.7);
  }

  #button {
  	width: 120px;
	height: 40px;
	background: #FFFFFF;
	border-radius: 10px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: normal;
	letter-spacing: 0.07em;
  }