.getcity {
	width: 500px;
    margin: 0 auto;
    padding-top: 30px;

}

.label{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: normal;
	letter-spacing: 0.07em;
	color: #FFFFFF;
	padding-bottom: 7px;
	display: block;
}


.form {
	width: 500px;
	height: 60px;
	background: #FFFFFF;
	border-radius: 10px;
	margin: 0 auto;
}

.form input {
	width: 395px;
	height: 60px;
	outline:none;
	color: rgba(0, 0, 0, 0.45);	
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	padding-left: 5px;
	line-height: normal;
	letter-spacing: 0.07em;
	border: none;
	border-radius: 10px 0px 0px 10px;

}


.button {
	width: 100px;
	height: 62px;
	color: rgba(0, 0, 0, 0.8);
	font-family: Open Sans;
	font-style: normal;
	outline:none;
	font-weight: normal;
	font-size: 20px;
	line-height: normal;
	letter-spacing: 0.07em;
	border: none;
	border-radius: 0px 10px 10px 0px;
}