 .header {
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: center;
  }

 .link {
    text-decoration: none;
  }

  .h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.07em;
    color: #FFFFFF;
  }